SOA/SOAWebApp/Connected Services/WcfService1Reference/WcfService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44323/WcfService1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFHostWebApp" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetString">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFHostWebApp" minOccurs="0" name="GetUserListResult" nillable="true" type="q1:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>